/* global colors */
/* global colors */
div#home_static div.navigation {
    width: 170px;
    float: left; }

div#home_static div.paperstack {
    width: 800px;
    margin: 0 -25px 0 -18px;
    padding: 0 7px 60px 20px;
    float: left;
    background: url("/images/static/content_background.png") no-repeat bottom center; }

div#home_static div.paperstack div.content {
    background: #fff;
    box-shadow: 0px 3px 4px #777;
    -webkit-box-shadow: 0px 3px 4px #777;
    -moz-box-shadow: 0px 3px 4px #777;
    min-height: 500px;
    overflow: hidden; }

div#home_static h2 {
    margin-bottom: 15px;
    font-size: 1.9em;
    color: #f62792; }

div#home_static h3 {
    font-weight: bold;
    color: #5B5B5B;
    font-size: 1.4em;
    margin-bottom: 5px; }

span.clear {
    clear: both;
    display: block;
    margin-bottom: -10px; }

div#home_static div.paperstack {
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-size: 13px;
    color: #5b5b5b; }

div#home_static h1 {
    color: #f62792;
    margin: 5px 0 15px 0; }

div#home_static p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px; }
div#home_static p em {
    font-style: italic; }

div#home_static strong {
    font-weight: bold; }

ul.smalliconlist li {
    margin-bottom: 15px;
    min-height: 65px;
    overflow: hidden; }

ul.smalliconlist li div.summary {
    margin: -65px 0 0 70px; }

ul.smalliconlist li div.summary div.name {
    font-weight: bold; }

/**
 * Grid setup
*/
div.content div.row {
    clear: both; }
div.content div.column {
    float: left;
    width: 100%; }
div.content div.column.fullwidth {
    width: 100%; }
div.content div.column.threequarters {
    width: 75%; }
div.content div.column.half {
    width: 50%; }
div.content div.column.quarter {
    width: 25%; }
div.content div.column div.textcontent {
    margin: 0 20px; }
div.content div.column div.textcontent.bottom {
    margin-bottom: 30px; }
div.content div.column div.textcontent.dashed {
    padding-top: 10px;
    border-top: 1px dashed #cccccc; }

div.content > div.row > div.column > div.row {
    margin: 0 20px; }

/**
 * Navigation styling
*/
div#home_static div.navigation ul {
    margin: 15px 0 0 15px;
    border-top: 1px solid #dbedf5;
    padding: 10px 0 0 0;
    font-size: 15px;
    font-weight: bold;
    width: 142px;
    overflow: visible; }

div#home_static div.navigation ul:first-child {
    border-top: 0; }

div#home_static div.navigation ul li {
    width: 175px;
    text-indent: 5px;
    margin: 0 0 0 -20px;
    padding: 5px 0 0 0;
    cursor: pointer;
    height: 33px; }

div#home_static div.navigation ul li.selected,
div#home_static div.navigation ul li.selected:hover {
    background: url("/images/static/nav_selected.png") no-repeat left top; }

div#home_static div.navigation ul li:hover {
    background: url("/images/static/nav_hover.png") no-repeat left top; }

div.navigation ul li a {
    display: block;
    height: 22px;
    width: 160px;
    color: #83b9df;
    line-height: 22px; }
div.navigation ul li a.about:before {
    content: '';
    display: block;
    float: left;
    height: 20px;
    width: 25px;
    background: url("/images/static/navicons.png") no-repeat 0 0;
    margin-left: 9px;
    margin-top: 1px; }
div.navigation ul li a.jobs:before {
    content: '';
    display: block;
    float: left;
    height: 20px;
    width: 25px;
    background: url("/images/static/navicons.png") no-repeat 0 -20px;
    margin-left: 9px;
    margin-top: 1px; }
div.navigation ul li a.press:before {
    content: '';
    display: block;
    float: left;
    height: 20px;
    width: 25px;
    background: url("/images/static/navicons.png") no-repeat 0 -40px;
    margin-left: 9px;
    margin-top: 1px; }
div.navigation ul li a.testimonials:before {
    content: '';
    display: block;
    float: left;
    height: 20px;
    width: 25px;
    background: url("/images/static/navicons.png") no-repeat 0 -60px;
    margin-left: 9px;
    margin-top: 1px; }
div.navigation ul li a.goldenrules:before {
    content: '';
    display: block;
    float: left;
    height: 20px;
    width: 25px;
    background: url("/images/static/navicons.png") no-repeat 0 -80px;
    margin-left: 9px;
    margin-top: 1px; }
div.navigation ul li a.story:before {
    content: '';
    display: block;
    float: left;
    height: 20px;
    width: 25px;
    background: url("/images/static/navicons.png") no-repeat 0 -100px;
    margin-left: 9px;
    margin-top: 1px; }
div.navigation ul li a.team:before {
    content: '';
    display: block;
    float: left;
    height: 20px;
    width: 25px;
    background: url("/images/static/navicons.png") no-repeat 0 -120px;
    margin-left: 9px;
    margin-top: 1px; }
div.navigation ul li a.help:before {
    content: '';
    display: block;
    float: left;
    height: 20px;
    width: 25px;
    background: url("/images/static/navicons.png") no-repeat 0 -140px;
    margin-left: 9px;
    margin-top: 1px; }
div.navigation ul li a.contact:before {
    content: '';
    display: block;
    float: left;
    height: 20px;
    width: 25px;
    background: url("/images/static/navicons.png") no-repeat 0 -160px;
    margin-left: 9px;
    margin-top: 1px; }
div.navigation ul li a.blog:before {
    content: '';
    display: block;
    float: left;
    height: 20px;
    width: 25px;
    background: url("/images/static/navicons.png") no-repeat 0 -180px;
    margin-left: 9px;
    margin-top: 1px; }
div.navigation ul li a.affiliates:before {
    content: '';
    display: block;
    float: left;
    height: 20px;
    width: 25px;
    background: url("/images/static/navicons.png") no-repeat 0 -200px;
    margin-left: 9px;
    margin-top: 1px; }
div.navigation ul li a.newfeatures:before {
    content: '';
    display: block;
    float: left;
    height: 20px;
    width: 25px;
    background: url("/images/static/navicons.png") no-repeat 0 -220px;
    margin-left: 9px;
    margin-top: 1px; }

div#home_static div.navigation ul li:hover a {
    color: #5899c7;
    text-decoration: none; }
div#home_static div.navigation ul li:hover a.about:before {
    background-position: -25px 0; }
div#home_static div.navigation ul li:hover a.jobs:before {
    background-position: -25px -20px; }
div#home_static div.navigation ul li:hover a.press:before {
    background-position: -25px -40px; }
div#home_static div.navigation ul li:hover a.testimonials:before {
    background-position: -25px -60px; }
div#home_static div.navigation ul li:hover a.goldenrules:before {
    background-position: -25px -80px; }
div#home_static div.navigation ul li:hover a.story:before {
    background-position: -25px -100px; }
div#home_static div.navigation ul li:hover a.team:before {
    background-position: -25px -120px; }
div#home_static div.navigation ul li:hover a.help:before {
    background-position: -25px -140px; }
div#home_static div.navigation ul li:hover a.contact:before {
    background-position: -25px -160px; }
div#home_static div.navigation ul li:hover a.blog:before {
    background-position: -25px -180px; }
div#home_static div.navigation ul li:hover a.affiliates:before {
    background-position: -25px -200px; }
div#home_static div.navigation ul li:hover a.newfeatures:before {
    background-position: -25px -220px; }

div#home_static div.navigation ul li.selected a {
    color: #748591;
    text-decoration: none; }
div#home_static div.navigation ul li.selected a.about:before {
    background-position: -50px 0; }
div#home_static div.navigation ul li.selected a.jobs:before {
    background-position: -50px -20px; }
div#home_static div.navigation ul li.selected a.press:before {
    background-position: -50px -40px; }
div#home_static div.navigation ul li.selected a.testimonials:before {
    background-position: -50px -60px; }
div#home_static div.navigation ul li.selected a.goldenrules:before {
    background-position: -50px -80px; }
div#home_static div.navigation ul li.selected a.story:before {
    background-position: -50px -100px; }
div#home_static div.navigation ul li.selected a.team:before {
    background-position: -50px -120px; }
div#home_static div.navigation ul li.selected a.help:before {
    background-position: -50px -140px; }
div#home_static div.navigation ul li.selected a.contact:before {
    background-position: -50px -160px; }
div#home_static div.navigation ul li.selected a.blog:before {
    background-position: -50px -180px; }
div#home_static div.navigation ul li.selected a.affiliates:before {
    background-position: -50px -200px; }
div#home_static div.navigation ul li.selected a.newfeatures:before {
    background-position: -50px -220px; }

/**
 * Content styling
*/
/* page banner */
div.content div.banner {
    width: 800px;
    height: 500px;
    margin-bottom: 20px;
    background: black url("/images/static/banners/testimonials.png") no-repeat top center; }

div.content div.banner.newfeatures {
    background-image: url("/images/static/banners/newfeatures.jpg");
    height: 229px;
    margin-bottom: 25px; }

div.content div.banner.testimonials {
    background: #222;
    height: 450px;
    overflow: hidden; }

div.content div.banner.about {
    background-image: url("/images/static/banners/about_collage.png");
    height: 513px; }

div.content div.banner.story {
    background-image: url("/images/static/banners/about.png"); }

div.content div.banner.jobs {
    background-image: url("/images/static/banners/jobs.png"); }

div.content div.banner.press {
    background-image: url("/images/static/banners/press.jpg"); }

div.content div.banner.goldenrules {
    /* background-image: url('/images/static/banners/goldenrules.png');*/ }

div.content div.banner.team {
    background-image: url("/images/static/banners/team.png"); }

div.no_header_bg_image div.banner {
    height: auto !important; }

div.content div.banner h1 {
    margin: 0 !important;
    width: 800px;
    padding: 10px 0;
    font-size: 28px;
    color: #fff !important;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8); }

div#mediaspace-wrap {
    height: 480px;
    margin: 0;
    width: 800px; }

div.picture {
    margin-bottom: 5px; }

div.picture > span.caption {
    display: block;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 15px; }

/* Press page */
ul.articles li.article {
    margin-bottom: 20px; }

ul.articles li.article span.title {
    font-weight: bold;
    display: block; }

ul.articles li.article span.title:before,
ul.articles li.article span.title:after {
    content: "\""; }

        ul.articles li.article a:after {
        content: " »"; }

ul.pressimages li.pressimage {
    clear: both;
    margin-bottom: 15px; }

ul.pressimages li.pressimage img {
    width: 300px; }

ul.pressimages li.pressimage div.name {
    font-weight: bold;
    display: block; }

#how_it_works_video {
    margin-bottom: 20px; }

ul.pressimages li.pressimage ul.formats li {
    display: inline;
    border-left: 1px solid #878787;
    padding: 0 10px; }

ul.pressimages li.pressimage ul.formats li:first-child {
    border-left: 0;
    padding-left: 0; }

/* testimonials */
div.userquote {
    margin-top: 310px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff; }

div.userquote div.quote {
    font-weight: bold; }

div.userquote div.name {
    margin-top: 15px;
    color: #e1c900;
    text-align: right; }

ul.testimonials li.testimonial {
    min-height: 115px; }

ul.testimonials li.testimonial div.description {
    margin: -105px 0 0 110px; }

ul.testimonials li.testimonial div.description div.quote {
    font-weight: bold;
    margin-bottom: 5px; }

ul.testimonials li.testimonial div.description div.quote:before,
ul.testimonials li.testimonial div.description div.quote:after {
    content: "\""; }

        ul.testimonials li.testimonial div.description a.username {
        font-weight: bold; }

ul.testimonials li.testimonial div.description div.usertype {
    font-size: 13px; }

ul.videosamples li.videosample {
    float: left;
    width: 252px; }

ul.videosamples li.videosample div.description {
    width: 200px; }

ul.videosamples li.videosample div.description a.username {
    font-weight: bold;
    font-size: 15px; }

ul.videosamples li.videosample div.description div.usertype {
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px; }

ul.videosamples li.videosample div.description div.quote {
    margin-top: 5px; }

ul.videosamples li.videosample div.description div.quote:before,
ul.videosamples li.videosample div.description div.quote:after {
    content: "\""; }

        /* team */
        ul.founders li.founder div.summary {
        margin: -130px 0 0 145px; }

ul.founders li.founder div.summary div.name {
    font-weight: bold;
    margin-bottom: 15px; }

/* help */
ul.tutorials li {
    float: left;
    width: 190px;
    margin-bottom: 15px; }

ul.tutorials li div.description a {
    font-weight: bold; }

ul.tutorials li div.description span {
    margin-left: 5px; }

ul.tutorials li div.description span:before {
    content: "("; }

ul.tutorials li div.description span:after {
    content: ")"; }

ul.poptopics {
    margin: 0 0 20px 0;
    padding: 0; }

ul.poptopics li {
    font-weight: bold;
    margin-bottom: 10px; }

/* contact form */
form.contact label {
    font-weight: bold;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 10px;
    display: block; }

form.contact input[type=text] {
    width: 300px; }

form.contact input[type=image] {
    margin-left: 160px; }

form.contact div.tip {
    margin: -20px 0 0 160px;
    font-size: 0.8em;
    font-style: italic; }

/* jobs */
span.job_benefit_image {
    width: 47px;
    height: 48px;
    display: block;
    float: left;
    background: url("/images/jobs/benefits_bgs.png") no-repeat 0 0; }

span.golden_rules_sprite {
    width: 58px;
    height: 51px;
    display: block;
    float: left;
    background: url("/images/static/goldenrules_sprite.png") no-repeat 0 0; }

ul.sprite_benefits_list li div.summary {
    float: left;
    margin: 0 !important;
    padding: 0 0 0 27px;
    width: 286px;
    font-size: 13px;
    line-height: 20px; }

#goldenrules ul.sprite_benefits_list li div.summary {
    width: 266px !important; }

#about_static p, #about_static li {
    font-size: 13px;
    line-height: 20px; }

#about_static ul.about_list {
    padding: 8px 0 0 3px; }

#about_static ul.about_list li {
    overflow: hidden;
    margin-bottom: 29px; }

#about_static ul.about_list li div.summary {
    float: left;
    margin-left: 23px;
    width: 420px !important; }

#about_static ul.about_list li div.name {
    font-weight: bold; }

span.about_sprite {
    width: 46px;
    height: 42px;
    display: block;
    float: left;
    background: url("/images/static/about_sprite.png") no-repeat 0 0; }

.narrow_three_quarters {
    width: 510px !important; }

#vid_placeholder {
    background: url("/images/static/testimonials_video_placeholder.jpg") no-repeat 0 0 #222222;
    display: block;
    cursor: pointer;
    width: 800px;
    height: 480px; }

#vid_placeholder_story {
    background: url("/images/static/story_video_placeholder.jpg") no-repeat 0 0 #222222;
    display: block;
    cursor: pointer;
    width: 800px;
    height: 480px; }

.testimonials {
    width: 385px;
    line-height: 20px; }

.testimonials li {
    overflow: hidden;
    margin-bottom: 20px;
    position: relative; }

.user {
    width: 77px;
    height: 95px;
    float: left;
    color: #A9A9A9; }

span.user_testimonial_image {
    height: 100px;
    width: 100px;
    float: left;
    display: block;
    background: url("/images/static/testimonial_bgs.jpg") no-repeat 0 0 #222222; }

.bubble {
    background-color: #F1FBFF;
    border: 1px solid #CFE0E7;
    color: #555555;
    float: left;
    margin-left: 16px;
    padding: 7px 10px;
    width: 220px;
    display: block; }

.carrot {
    background-image: url("/images/landing_pages/why_join/carrot.gif");
    height: 16px;
    left: 106px;
    position: absolute;
    top: 15px;
    width: 11px; }

span.testimonial {
    display: block;
    float: left;
    width: 220px; }

span.user_location {
    font-weight: bold;
    display: block;
    float: left;
    width: 220px; }

ul#more_testimonials {
    overflow: hidden;
    margin-bottom: 20px;
    position: relative; }

ul#more_testimonials li {
    overflow: hidden;
    position: relative;
    margin-right: 16px;
    float: left; }

ul#more_testimonials li a.vid_thumb {
    width: 177px;
    height: 99px;
    display: block;
    background: url("/images/static/testimonials_vid_sprite.jpg") no-repeat 0 0; }

ul#more_testimonials li a.vid_text {
    width: 177px;
    display: block;
    margin-top: 4px;
    font-weight: bold; }

h2.help_topic {
    font-size: 15px;
    font-weight: normal;
    font-style: italic; }

.dashed_line {
    border-top: 1px dashed #999;
    border-bottom: 0px dashed #fff;
    border-left: 0px;
    border-right: 0px;
    background-color: #fff;
    height: 1px; }

div#home_static.newfeatures .button-glossy {
    font-size: 1.0em;
    min-width: 7em; }

div.feedback-form {
    margin: 0 30px 15px 25px;
    padding: 15px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #e9f3f9;
    box-shadow: 0 0 5px #add2e9 inset; }
div.feedback-form form {
    padding-right: 25px; }
div.feedback-form form label {
    text-align: left;
    margin-left: 1px;
    color: #5b5b5b;
    font-size: 0.9em; }
div.feedback-form h3 {
    margin-bottom: 15px !important;
    font-weight: normal !important;
    text-align: center;
    font-size: 1.4em !important;
    text-shadow: 0 1px 1px white;
    color: #393c3d; }
div.feedback-form input[type="text"], div.feedback-form textarea {
    width: 100%;
    font-size: 1.1em;
    padding: 10px;
    margin: 0 0 10px 0; }
div.feedback-form input[type="submit"] {
    float: left; }
div.feedback-form textarea {
    height: 65px; }
div.feedback-form div.feedback-info {
    padding: 0 0 0 0; }
div.feedback-form div.user-info {
    padding: 0 0 0 30px; }

div.newfeatures div.textcontent {
    margin: 0 30px 0 30px !important; }

h2.feature-heading {
    text-align: center;
    background: url("../images/static/feature-divider.png") no-repeat top center;
    margin: 15px 0 0 0 !important;
    padding: 35px 0 0 0 !important; }

div.feature {
    clear: both;
    margin: 5px 0 0 0;
    border-top: 1px solid #f2f2f2;
    padding: 10px; }
div.feature:first-child {
    border-top: 0; }
div.feature div.feature-image {
    float: right;
    margin: 0 15px 15px 25px; }
div.feature div.feature-content {
    padding: 25px 0 0 20px;
    color: #959595; }
div.feature div.feature-content span.release-date {
    color: #f62792;
    font-size: 1.1em;
    display: block;
    margin-bottom: 0px; }
div.feature div.feature-content h2 {
    color: #393c3d !important; }
div.feature div.feature-content .button-glossy {
    width: 180px; }
div.feature div.feature-content a {
    font-weight: bold; }